extends ../shared/layout

block content
  .container
    include ../shared/searchbar.pug

    #search-results
      each result in results
        .col-md-6
          a(href='/letter/' + result.author + '/' + result.category + '/' + result.title)
            .search-result.card
              .type
                .icon.initials
                  span= result.author[0]
              .info
                h2= result.title
                h3= result.author
                h4= result.category
              .type
                .icon
                  span.glyphicon.glyphicon-menu-right

    nav#pagination
      ul
        unless page === 1
          li 1

        unless page <= pages + 3
          p ...

        - for (var i = page; i < page + 3; i++)
          if page === i
            li.current-page= i
          else
            li= i

        unless page >= pages - 3
          p ...

        unless page === pages
          li= pages
